.avdantages {

	// background: linear-gradient(15deg, #ffffff 0%, #f2f2f2 100%);
	// background: linear-gradient(165deg, #f2f2f2 100%, #ffffff 0%);
background-color: #fff;

}
.advantages__gradient {
background-image: linear-gradient(177deg, transparent 5%, #f2f2f2 5%, #f2f2f2 100%);
}

.advantages__list,
.advantages__picture-list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.advantages__list{
	padding-top: 50px;

}
.advantages__descript {
	color:#000;
	font-weight: lighter;
	font-size: 24px;
	padding-bottom: 35px;
}

.advantages__descript p {
	width: 204px;
	margin: 0 auto;
	text-align: center;
	padding-top: 50px;
}


.advantages__table {
	display: flex;
	flex-direction: column;


}

.advantages__item {
	margin-bottom: 10px;
	/* padding: 0 44px;*/
	padding-top: 10px;
	color: #000;
	text-align: center;
	margin: 43px 24px;
}


.advantages__item:first-child {
	padding-top: 0;
}

.advantages__name {
	// font-weight: bold;
	font-size: 18px;
	padding: 0;
}

.advantages__text {
	font-size: 14px;
	font-weight: lighter;;
	color: #283645;
}

.advantages__picture {
	display: none;
	width: 162px;
	margin: 0 auto;

}

.advantages__picture-list li:first-child .advantages__picture {
	display: block;
}

@media @tablet-widths {
	.avdantages  {

	}
	.advantages__gradient {
		background-image: linear-gradient(177deg, transparent 12%, #f2f2f2 12%, #f2f2f2 100%);
	}

	.advantages__table {
		display: flex;
		flex-direction: row;
		justify-content: space-between
	}

	.advantages__descript {
		font-size: 40px;
		font-weight: lighter;
		line-height: 50px;
	}

	.advantages__descript p {
		width: 100%;
		padding-top: 27px;
	}

	.advantages__descript p:nth-child(2) {
		width: 320px;
	}

	.advantages__list {
		order: 1;
	}

	.advantages__picture-list {
		order:0;
	}

	.advantages__picture {
		width: auto;
	}
	.advantages__picture img {
		width: 267px;
	}

	.advantages__item {
		text-align: left;
		margin-left: 50px;
	}

}


@media @desktop-widths {

	.advantages__table {
		flex-wrap: wrap;
		// display: table;
		// outline: 3px solid pink;
	}

	.advantages__list{
	padding-top: 50px;

}

	.advantages__gradient {
		background-image: linear-gradient(176deg, transparent 12%, #f2f2f2 12%, #f2f2f2 100%);
	}


	.advantages__picture img {
		width: 190px;
	}

	.advantages__picture {
		display: block;
		height: 300px;
		overflow: hidden;

	}
	// .advantages__picture-list li {
	// box-shadow: inset 0px -6px 10px 0px #ABABAB;
	// z-index: 5;
	// }

  	.advantages__list,
  	.advantages__picture-list {
  		// display: table-row;
  		width: 100%;
  		display: flex;
   	}

	 .advantages__picture-list  {
		justify-content: space-between;
		padding-left: 20px;
		padding-right: 20px;
	 	}

	.advantages__list{
  	justify-content: space-between;
  	padding-top: 0;
	}

  	.advantages__list li{
  			text-align: center;
   	}

 	 .advantages__item,
 	 .advantages__picture-list li{
 	 	padding-top: 0;
 	 }

 	 	// .advantages__item,
 	 	.advantages__picture {

 	 		margin-right: 50px;
 	 		position: relative;
 	 	}

 	 	.advantages__item {
 	 		margin-left: 0;
 	 		width: 230px;
 	 		margin-right: 0;

 	 		 position: relative;
 	 	}
	.advantages__picture-list li {
		display: flex;
		position: relative;
	}

 	.advantages__picture-list li:after {
    content:"";
    position:absolute;
    width:220px;
    background:#ccc;
    height:1px;
    bottom: 0px;
    right:-14px;
 	box-shadow:         0px -1px 5px 0px rgba(0, 0, 0, 1);
 	z-index: 2;

}



 	.advantages__item:last-child,
	.advantages__picture:last-child {
		margin-right: 0;
	}

	.advantages__name {
		font-size: 30px;
		font-weight: bold;
		margin-bottom: 40px;
	}

  }


