

.contact__items {
	display: flex;
	flex-direction: column;

}

.contact {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	flex-grow: 1;
	padding-bottom: 30px;

}

.contact__name {
	font-weight: bold;
	font-size: 18px;
	color: #283645;
	width: 100%;
	text-align: center;
}

.contact__value {
	width: 100%;
	text-align: center;
	font-weight: 300;
	font-size: 24px;
	color: #d22856;
}

 @media @tablet-widths {

	.contact__items {
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-start;
	}

 	.contact--tel,
 	.contact--mail  {

 	}
 	.contact--tel {

 	}

 	.contact--mail {

 	}

 	.contact--adress {

 	}
 }

 @media @desktop-widths {
 	.contact--adress,
 	.contact--tel,
 	.contact--mail {
 		width: 30%
 	}
 }