.contacts {
		padding-bottom: 250px;
		display: flex;
		flex-direction: column;
		background-image: linear-gradient(150deg,   transparent  95%,white 95%), linear-gradient(-150deg,   transparent  95%, white  95%), url("../img/bg-map.png");
				}



