.download-panel {
	border: 1px dashed #A52A2A;
	background-color: #1d2631;
	margin-top: 280px;

}

@media @tablet-widths {
	.download-panel {
	width: 50%;
	background: none;
	display: block;
	.clearfix;
	margin-top: 10px;
	}
}

.download-panel__systems {
	list-style: none;
	.clearfix;
}

.download-panel__system {
	margin: 10px;
	float: left;
}

.download-panel__system img {
	width: 40px;
}

	 @media @desktop-widths {
.download-panel__wrapper {

	width: 570px;
/*	margin-left: 150px;*/

}


  }




