	.effect {
	display: none;

	}

@media @tablet-widths {
  .effect {
  	display: flex;
  	padding-top: 60px;

    }

	.effect__wrapper {
		.container;
	display: flex;
	// height: 100px;
	direction: row;
	justify-content: space-between;
	align-items: center;
	}

 //  .effect__sign {
	// height: 50%;
	// }

  .effect__text {
	width: 49%;
	font-size: 14px;
	}

	.effect__text h3 {
		font-size: 30px;
		line-height: 40px;
		color: #000;
		padding-right: 138px;
		margin: 0;
		margin-bottom: 15px;
	}

	.effect__text p {
		padding-bottom: 15px;
	}

	.effect__link {
		color: #d22856;
		border-bottom: 1px solid #d22856;

	}

}

@media @desktop-widths {
	.effect {
		background-color: #f2f2f2;
		padding-bottom: 65px;
	}

	.effect__text {
		flex-basis: 570px;
		// self-align: center;
	}

	.effect__text p,
	.effect__text a {
		font-size: 18px;
	}


}