.footer {
display: none;
}

.footer--form-page {
display: flex;
background-color: #fff;
padding-bottom: 50px;
padding-top: 40px;
}

.footer__wrapper {
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
}

.footer__social-buttons {
list-style: none;
padding: 0;
margin-top: 40px;
margin-bottom: 40px;
display: flex;
flext-direction: row;
justify-content: space-between;
}

.social-button {
width: 50px;
height: 50px;
border-radius: 50%;
border: 2px solid #e9ebec;
margin-right: 14px;
position: relative;
// background-position: 50% 50%;
// background-repeat: no-repeat;

}

.social-button svg {
position: absolute;
}

.social-button:last-child {
margin-right: 0;
}

.social-button--twitter svg {
top: 33.3%;
left: 33.3%;
}

.social-button--facebook svg {
top: 28%;
left: 40%;
}

.social-button--youtube  svg{
top: 33.3%;
left: 40%;
}

.footer__developer {
background-image: url("../img/htmlacademy.svg");
background-repeat: no-repeat;
background-size: 25%;
background-position: 100%;

}

.footer__developer a {
padding-right: 44px;
font-size: 14px;
}

@media @tablet-widths {
.footer {
display: block;
background-color: #fff;
}

.footer--form-page {
display: flex;
background-color: #fff;
padding: 0;
}

.footer__wrapper {
padding-top: 40px;
display: flex;
flex-direction: row;
justify-content: space-between;
padding-bottom: 40px;
align-items: center;
}

.footer__social-buttons {
margin: 0;
}

}

@media @desktop-widths {

}
