.main-index {
	background: url("../img/bg-back-mobile.jpg");
	}

.main-index__header {
	overflow:auto;
	outline: 1px dashed white;
	width: 100%;
	background-repeat:  no-repeat;
	background-size: 220%;
	color: white;
	  background-color: rgba(5, 9, 5, 0.3);

}

.descript h2{
	padding-bottom: 100px;
}

.descript__picture-phone {
	background-image: url("../img/iphone-hand-mobile.png");
	/*padding-bottom:280px;*/
	background-repeat: no-repeat;
	height: 100%;
	border: 1px solid white;
	background-position: center;
}

.main-index__title--photo {
	padding-top: 50px;
	padding-bottom: 150px;
}


	@media @tablet-widths {
		.page-header {
			background-size: 100%;
		}

		.descript {
			width: 50%
		}

		.descript h2{
		padding-bottom: 0px;
		}

		.descript__picture-phone {
		background-position: right center;
		}

	.descript__picture {
		width: 470px;
		padding-left: 300px;
	}
}


	 @media @desktop-widths {
	 	.page-header__title{
		/*padding-right: 500px;
		padding-bottom: 450px;}*/}

		.descript__picture {
		width: 550px;
		padding-left: 570px;
	}


  }




