.map {
	padding-top: 150px;

	background-image: url(../img/bg-map.png);
	width: 100%;
}

 @media @tablet-widths {
 	.map{
 	background-image: url(../img/bg-map_tablet.png);
 	padding-top: 380px;
 	 	}

 }

 @media @desktop-widths {
 	.map{
	background-image: url(../img/bg-map_desctop.png);
	padding-top: 600px;
 }

}