.photo-galery {
background-color: #fff;}

.photo-galery__wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

}

@media @tablet-widths {
	.photo-galery__wrapper {
	padding: 40px;

 }
}
  @media @desktop-widths {
  .photo-galery__wrapper {

  	padding: 0;
  		}
}
