.product {
	border: 1px dashed white;
	display: table;
}

.product__items {
	display: table-row;
}

.product__item {
	display: table-cell;
}

 @media @tablet-widths {

.text-mobile {
	display: none;
}
}