@import "main-screen.less";
@import "main-index.less";
@import "main-nav.less";
@import "download-panel.less";
@import "advantages.less";
@import "effect.less";
@import "reviews.less";
@import "product.less";
@import "contacts.less";
@import "contact.less";
@import "text-block.less";
@import "competition-form.less";
@import "page-footer.less";
@import "post.less";
@import "photo-galery.less";
@import "user-panel.less";
@import "descript.less";
@import "map.less";
@import "footer.less";
@import "slider__nav";

@mobile-widths-only: ~"(max-width: 767px)";
@mobile-and-tablet-widths-only: ~"(max-width: 1199px)";
@tablet-widths: ~"(min-width: 768px)";
@desktop-widths: ~"(min-width: 1200px)";
@bg-color: #1d2631;
@pink-color: #d22856;



@font-face {
  font-family: 'OpenSans';
  src:  url('../fonts/opensansbold.woff2') format('woff2'),
        url('../fonts/opensansbold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}


@font-face {
  font-family: 'OpenSans';
  src:  url('../fonts/opensanslight.woff2') format('woff2'),
        url('../fonts/opensanslight.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSans';
  src:  url('../fonts/opensans.woff2') format('woff2'),
        url('../fonts/opensans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  color: white;
  .clearfix;
  font-size: 18px;
  line-height: 27px;
  font-family: 'OpenSans', sans-serif;
  font-weight: normal;
  color: #283645;
  font-style: normal;

}

p {
	padding: 0;
	margin: 0;
	width: 100%;
}

.clearfix {
  &:after {
    content: "";

    display: table;
    clear: both;
  }
}

.container {
  width: 320px;
  margin: 0 auto;

  @media @tablet-widths {
    width: 620px;
  }

  @media @desktop-widths {
    width: 960px;
  }

}